<!-- <h1>See all flats here</h1>
<p>Find me in app/views/flats/index.html.erb</p>
<ul>
 <% @flats.each do |flat| %>
  <li>
  <%= flat.address %>
  <%= flat.bedrooms %>
  <%= flat.rental_price %>
  <%= flat.size %>
  <%= flat.bedrooms %>
  <% if @flats.empty? %>
  <h2> No flats available </h2>
  <% end %>

  </li>
<% end %>

-->
<div class="content">

<div class="card container">

  <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://www.fidorento.com/wp-content/uploads/2018/08/5-Ak%C5%9Fam-2.jpg)"></div>
      <ul class="details">
        <li class="address">Addres</li>
        <li class="price">1,200Euro</li>
        <li class="bedrooms">4</li>
        <li class="size">175 m²</li>
      </ul>
    </div>
    <div class="description">
      <h1>Learning to Code</h1>
      <h2>Opening a door to the future</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
      <p class="read-more">
        <a href="#">Read More</a>
      </p>
    </div>
  </div>
  <div class="blog-card alt">
    <div class="meta">
      <div class="photo" style="background-image: url(https://t-ec.bstatic.com/images/hotel/max1024x768/862/86285084.jpg)"></div>
      <ul class="details">
        <li class="author"><a href="#">Jane Doe</a></li>
        <li class="date">July. 15, 2015</li>
        <li class="tags">
          <ul>
            <li><a href="#">Learn</a></li>
            <li><a href="#">Code</a></li>
            <li><a href="#">amir</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Mastering the Language</h1>
      <h2>Java is not the same as JavaScript</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
      <p class="read-more">
        <a href="#">Read More</a>
      </p>
    </div>
  </div>
</div>
</div>
<div class="footer1">
  <div id="button1"></div>
<div id="container1">
<div id="cont">
<div class="footer_center">
     <h3>Classy footer text</h3>
</div>
</div>
</div>
</div>
