
      <div class="search-bar">

          <%= form_tag flats_path, method: :get do %>

          <div class="search-bar-location">
            <% select_tag "location"%>
            <%= text_field_tag :location, params[:location], placeholder: 'Search for city, postcode, adress, etc.'%>
            <% radius = [["radius",9], ["1km",1], ["2km",2], ["5km",5], ["10km",10], ["20km",20]] %>
            <%= select_tag "radius", options_for_select(radius, @radius)%>
          </div>

          <div class = "search-bar-budget-size-bedrooms-rating">
            <div class = "search-bar-budget">
                 <%= label_tag("Maximum budget") %>
            <% price = [["0",""],["€500",500],["€1000",1000],["€1500",1500],["€2000",2000],["€2500",2500]] %>
            <%= select_tag( "rental_price", options_for_select(price, @rental_price)) %>
            <%= label_tag("€") %>
            </div>

            <div class = "search-bar-size">
            <%= label_tag("Size") %>
            <% size = [["0",""],["25m",25],["50m",50],["75m",75],["100m",100],["150",150]] %>
            <%= select_tag "size", options_for_select(size, @size) %>
            <%= label_tag("m ²") %>
            </div>

            <div class = "search-bar-bedrooms">
            <%= label_tag("number of bedrooms") %>
            <% bedrooms = [["0",""], 0, 1, 2, 3, 4, 5] %>
            <%= select_tag "bedrooms", options_for_select(bedrooms, @bedrooms) %>
            </div>

            <div class = "search-bar-rating">
            <%= label_tag("Rating") %>
            <% @name = "ratings" %>
            <%= render "shared/reviews"%>
            </div>
          </div>

            <%= submit_tag "Search"%>
            <%= link_to "Remove filter", flats_path%>
          <% end %>

      </div>
      <div class="content">
    <div class="card container">

      <% @flats.each_with_index do |flat, index| %>

      <div class="blog-card pointer" onmouseenter="hilightMarker(<%= flat.id %>)" onmouseleave="unhilightMarker(<%= flat.id %>)" onclick=document.location="<%= flat_path(flat) %>">
        <div class="meta">
          <div class="photo" style="background-image: url('<%= cl_image_path(flat.photo1) %>')"></div>
          <ul class="details">

            <li> <span class ="fas fa-euro-sign"></span> <%= flat.rental_price %>pm</li>
            <!-- <br> -->
            <li> <span class ="fas fa-bed"></span> <%= flat.bedrooms %></li>
            <!-- <br> -->
            <li> <span class ="fas fa-expand-arrows-alt"></span><%= flat.size %>m²</li>
          </ul>
        </div>

        <div class="description">
          <div class="card-title">
            <h1 ><%= flat.address %> </h1>
            <div class="flat-index-stars">
              <% @score =  flat.average_rating %>
              <%= render "shared/star-ratings"%>
            </div>
          </div>


          <div class="line"> <%= flat.description %></div>




        </div>
      </div>

      <% end %>
    </div>

    <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
