<h1>See all flats here</h1>
<p>Find me in app/views/flats/index.html.erb</p>
<ul>
 <% @flats.each do |flat| %>
  <li>
  Address is <%= flat.address %>
  Number of bedrooms: <%= flat.bedrooms %>
  Price: <%= flat.rental_price %>
  Size: <%= flat.size %>
  <% flat.reviews.each do |review| %>
  <%= review.rating %>
  <% end %>



  <% if @flats.empty? %>
  <h2> No flats available </h2>
  <% end %>

  </li>
<% end %>

