

<!--
<%= form_tag flats_path, method: :get do %>

  <%= label_tag(:q, 'Budget maximum')%>
  <% price = ["", 500, 1000, 1500, 2000, 2500] %>
  <%= select_tag "rental_price", options_for_select(price, @rental_price)%>
  <%= label_tag(:q, "") %>

  <%= label_tag(:q, "Minimum size") %>
  <% size = ["", 25, 50, 75, 100, 125, 150] %>
  <%= select_tag "size", options_for_select(size, @size) %>
  <%= label_tag(:q, "") %>

  <%= label_tag(:q, "Where?") %>
  <% select_tag "location" %>
  <%= text_field_tag :location, params[:location]%>

  <%= label_tag(:q, "Minimum rating") %>
  <% rating = ["", 0, 1, 2, 3, 4, 5] %>
  <%= select_tag "rating", options_for_select(rating, @rating) %>

  <%= submit_tag "Search"%>
  <%= link_to "Remove filter", flats_path%>
<% end %>
 -->

<!-- <ul>
 <% @flats.each do |flat| %>
  <li>

  Address is <%= flat.address %>
  Number of bedrooms: <%= flat.bedrooms %>
  Price: <%= flat.rental_price %>
  Size: <%= flat.size %>
  <% flat.reviews.each do |review| %>
  <%= review.rating %>
  <% end %>
  <%= link_to "details", flat_path(flat.id) %>

  <% if @flats.empty? %>
  <h2> No flats available </h2>
  <% end %>

  </li>
<% end %>
 -->



<!-- <section class="search-sec">
    <div class="container">
        <form action="#" method="post" novalidate="novalidate">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <input type="text" class="form-control search-slt" placeholder="Enter Pickup City">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <input type="text" class="form-control search-slt" placeholder="Enter Drop City">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-slt" id="exampleFormControlSelect1">
                                <option>Select Vehicle</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <button type="button" class="btn btn-danger wrn-btn">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section> -->

<div class="content">
  <div class="card container">
    <div>
      <%= form_tag flats_path, method: :get do %>

  <%= label_tag(:q, 'Budget maximum')%>
  <% price = ["", 500, 1000, 1500, 2000, 2500] %>
  <%= select_tag "rental_price", options_for_select(price, @rental_price)%>
  <%= label_tag(:q, "") %>

  <%= label_tag(:q, "Minimum size") %>
  <% size = ["", 25, 50, 75, 100, 125, 150] %>
  <%= select_tag "size", options_for_select(size, @size) %>
  <%= label_tag(:q, "") %>

  <%= label_tag(:q, "Where?") %>
  <% select_tag "location" %>
  <%= text_field_tag :location, params[:location]%>

  <%= label_tag(:q, "Minimum rating") %>
  <% rating = ["", 0, 1, 2, 3, 4, 5] %>
  <%= select_tag "rating", options_for_select(rating, @rating) %>

  <%= submit_tag "Search"%>
  <%= link_to "Remove filter", flats_path%>
<% end %>
    </div>

  <% @flats.each_with_index do |flat, index| %>

  <div class="blog-card" id= "<%=index %>">
    <div class="meta">
      <div class="photo" style="background-image: url('<%= cl_image_path(flat.photo1) %>')"></div>
      <ul class="details">

        <li class="fas fa-euro-sign">:<%= flat.rental_price %></li>
        <br>
        <li class="fas fa-bed">:<%= flat.bedrooms %></li>
        <br>
        <li class="fas fa-expand-arrows-alt">:<%= flat.size %>m²</li>
      </ul>
    </div>
    <div class="description">
      <h1 ><%= flat.address %></h1>
      <h2>Opening a door to the future</h2>
      <p> <%= flat.description %></p>
      <p class="read-more">
        <a href="#">Details</a>
        <a href="#"><% flat.reviews.each do |review| %>
  <%= review.rating %>
  <% end %></a>
      </p>
    </div>
  </div>

  <% end %>
  </div>

<div
  id="map"

  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  </div>


<!-- <div class="footer1">
  <div id="button1"></div>
<div id="container1">
<div id="cont">
<div class="footer_center">
     <h3>Classy footer text</h3>
</div>
</div>
</div>

</div> -->
