<div class="content1">
  <div class="container">

    <h2><%= @flat.bedrooms %> bedroom flat to rent</h2>

    <div>
      <%= @flat.bedrooms %> <i class="fas fa-bed"></i>
      <%= @flat.bathrooms %> <i class="fas fa-bath"></i>
      <%= @flat.size %>m²
    </div>

    <!-- CAROUSEL -->
    <div class="container">
      <div class="row col-md-8">
        <div class="show_photos">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner" role="listbox">

              <div class="item active" style="background-image: url('<%= cl_image_path @flat.photo1%>')">
              </div>
              <div class="item" style="background-image: url('<%= cl_image_path @flat.photo2%>')">
              </div>
              <div class="item" style="background-image: url('<%= cl_image_path @flat.photo3%>')">
              </div>
              <div class="item" style="background-image: url('<%= cl_image_path @flat.photo4%>')">
              </div>
              <div class="item" style="background-image: url('<%= cl_image_path @flat.photo5%>')">
              </div>
            </div>

            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

          <div class="row photo_row">
            <div class="photos_small"> <%= cl_image_tag @flat.photo1, width: 120, height: 80%>
            </div>
            <div class="photos_small"> <%= cl_image_tag @flat.photo2, width: 120, height: 80%>
            </div>
            <div class="photos_small"> <%= cl_image_tag @flat.photo3, width: 120, height: 80%>
            </div>
            <div class="photos_small"> <%= cl_image_tag @flat.photo4, width: 120, height: 80%>
            </div>
            <div class="photos_small"> <%= cl_image_tag @flat.photo5, width: 120, height: 80%>
            </div>
          </div>
        </div>
      </div>

      <div class="row col-md-4 reviews-box">
        <!-- FB FRIENDS -->
        <i class="fab fa-facebook-f"></i>
        <div>
          <% if @lived_in.empty? %>
          <p> None of your friends have lived in this apartment </p>
          <% else %>
          <% @lived_in.each do |friend| %>
          <%= friend.first_name %> <p> has lived in this flat</p>
          <% end %>
          <% end %>


          <% if @lived_close.empty? %>
          <p> None of your friends have lived close by to this apartment </p>
          <% else %>
          <% @lived_close.each do |friend| %>
          <%= friend.first_name %> <p> has lived close by!</p>
          <% end %>
          <% end %>
        </div>
        <div>

          <!-- REVIEWS -->
          <div class="review-box">
            <p>Reviews</p>
            <% if @flat.reviews.empty? %>
            <p>There are no reviews for this apartment yet</p>
            <% else %>
            <% @flat.reviews.each do |review| %>
            <div class="star-ratings-css">
              <div class="star-ratings-css-top" style="width: <%= review.rating*15 %>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
              <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
            </div>
            "<%= review.comment %>"
            - <%= review.tenant.first_name %>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- HIGH-LEVEL DETAILS -->

    <div>
      <p><%= @flat.description %></p>
    </div>


    <!-- MAP -->
    <div
    id="map"
    style="width: 100%;
    height: 250px;
    margin-top: 40px;
    padding-left: 10px"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>


    <!-- MESSAGE BOX -->
    <%= simple_form_for @viewing do |f| %>
    <%= f.hidden_field :flat_id %>
    <%= f.input :message, :label => 'Interested? Message the landlord to arrange a viewing' %>
    <%= f.button :submit  %>
    <% end %>
  </div>
</div>
