
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="review-form">

        <div class="form-header">
          <h1>Leave a review</h1>
        </div>
        <div class="review-form-content">
          <%= simple_form_for @review do |f| %>
          <div class="question">
          <%= f.input :address%>
          </div>
          <div class="question">
          <%= f.input :proof_pic, label: "Please upload proof of address" %>
          <%= f.input :proof_pic_cache, as: :hidden %>
          </div>
          <div class="question">
          <p>Rate the following based on a scale of 1 to 5, 1 being completey dissatisfied, and 5 being completely satisfied:</p>

          <div class="row stars">
            <div class="col-xs-6 user-review">
              <p class="criteria"> Area </p>
              <% @name =  "review[area_rating]"%>
              <%= render "shared/reviews"%>
            </div>
            <div class="col-xs-6 user-review">
              <p class="criteria"> Noise level </p>
              <% @name = "review[noise_rating]" %>
              <%= render "shared/reviews"%>
            </div>
            <div class="col-xs-6 user-review">
              <p class="criteria"> General condition </p>
              <% @name = "review[condition_rating]" %>
              <%= render "shared/reviews"%>
            </div>
            <div class="col-xs-6 user-review">
              <p class="criteria"> Energy efficiency </p>
              <% @name = "review[energy_rating]" %>
              <%= render "shared/reviews"%>
            </div>
            <div class="col-xs-6 user-review">
              <p class="criteria"> Landlord </p>
              <% @name = "review[landlord_rating]" %>
              <%= render "shared/reviews"%>
            </div>
            <div class="col-xs-6 user-review">
              <p class="criteria"> Water (plumbing) </p>
              <% @name = "review[plumbing_rating]" %>
              <%= render "shared/reviews"%>
            </div>
          </div>
          </div>
          <div class="question">

          <%= f.input :comment, placeholder: "Please provide further details" %>
          </div>
          <%= f.submit "Leave review", class: "btn-orange lvbtn"%>
          <% end %>
        </div>

       <!--  <div class="form-footer">
        </div> -->
      </div>
    </div>
  </div>
</div>
